<div
  class="bg-dark px-2 pb-1 d-flex justify-content-between align-items-center"
>
  <p class="lead">{{user.username}}</p>
  <p>Posted {{format_date createdAt}}</p>
</div>
<div class="px-2 py-1">
  <p>{{comment_text}}</p>
</div>