<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Digital District</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    />
  </head>

  <body class="d-flex flex-column min-vh-100 bg-secondary text-light">
    <header class="px-5 pt-5 pb-3 bg-dark">
      <div class="d-flex flex-column">
        <h1 class="border-bottom border-3 pb-2">
          <a href="/" class="display-2 text-decoration-none text-light">The
            Digital District</a>
        </h1>
        <div class="d-flex justify-content-between">
          <p class="lead">A Tech Blog</p>
          <nav class="float-end">
            <a href="/" class="btn text-light">Homepage</a>
            {{#if loggedIn}}
              <a
                href="/dashboard"
                class="btn text-light text-decoration-none"
              >Dashboard</a>
              <button id="logout" class="btn text-light">Logout</button>
            {{else}}
              <a href="/login" class="btn text-light">Login</a>
            {{/if}}
          </nav>
        </div>
      </div>
    </header>
    <main class="">
      {{{body}}}
    </main>
    {{! <footer class="px-5 py-3 bg-dark mt-auto">
      Thanks for visiting!
    </footer> }}

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>