<button class="btn btn-dark mx-5 mt-3" id="addPost">Add a New Post</button>

<ul class="list-unstyled mx-5">
  {{#each posts as |post|}}
  <li class="my-3">
    {{> post-info post}}
  </li>
  {{/each}}
</ul>

<script src="/javascript/dashboard.js"></script>
<script src="/javascript/existing-post.js"></script>