<div class="container mt-5">
  <div class="row">
    <section
      class="col-12 col-md-8 col-lg-7 border border-dark border-4 rounded mx-auto p-5 bg-dark"
    >
      <h2>
        Unfortunately there has been an error.
      </h2>
      <p>
        {{message}}
      </p>
    </section>
  </div>
</div>