{{! Page to display for creating a new post }}
<div class="container mt-5">
  <div class="row">
    <form
      class="col-12 col-md-10 border border-dark border-4 rounded mx-auto p-5 bg-dark"
    >
      <div>
        <label for="title" class="form-label">TITLE:</label>
        <input
          type="text"
          id="title"
          class="form-control"
          placeholder="Post Title"
        />
      </div>
      <div>
        <label for="content" class="form-label">CONTENT:</label>
        <textarea
          id="content"
          class="form-control"
          placeholder="Post Content"
        ></textarea>
      </div>
      <div class="d-flex flex-column">
        <button
          type="submit"
          id="publish"
          class="btn btn-light text-dark mt-3"
        >PUBLISH</button>
        <script src="/javascript/post.js"></script>
      </div>
    </form>
  </div>
</div>